body{
  background-color: springgreen;
}
.nav__container{
  display: flex;
  justify-content: space-between;
  background-color: brown;
  color: rgb(9, 10, 10) ;
  box-sizing: border-box;
  align-items: center;
  height: 80px;
  border:orange solid 5px;
  border-radius: 30px;
  }

.nav__container ul{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: aliceblue ;      
  font-size: 50px;    
}
.nav__container ul li{
  list-style-type: none;
  text-decoration: none;
  color: aliceblue ;
  padding: 10px 170px;
}

  .student__details h1{
      display: inline-block;
      font-size: 50px;
      font-weight: bolder;
  }

  .student__details  button{
      width: 300px;
      margin-left: 700px;
      height: 70px;
      border-radius: 40px;
  }

  /* Add Student Button */

  .add__student{
      text-decoration: none;
      text-align: center;
      padding: 3px;
      font-size: 30px;
      display: inline-block;
      width: 250px;
      height: 40px;
      background-color:green;
      margin-left: 800px;
      border-radius: 30px;
      color: white;
  }
  .student__data{
      margin-top: 50px;
  }
  .data{
      display: inline-block;
      height: 70px;
      font-size: 25px;
      font-weight: bolder;
  }
  .data input{
      width: 400px;
      height: 50px;
      background-color: wheat;
          border-radius: 30px;
  }
  .Name{
      margin-left: 200px;
  }
  .Age{
      margin-left: 100px;
  }
  .Course{
      margin-left: 200px;
      margin-top: 100px;
  }
  .Batch{
      margin-left: 100px;
  }

  .container__submit{
      display: inline-block;
      margin-top: 100px;
      margin-left: 800px;
  }

  .section {
      text-decoration: none;
      text-align: center;
      padding: 3px;
      font-size: 30px;
      display: inline-block;
      width: 300px;
      height: 50px;
      background-color: gray;
      border-radius: 30px;
  }
  
  .submit{
      margin-left: 20px;
  }
  .table{
    /* align-items: none; */
    color:red;
    height: 100px;
    width: 50%;
    justify-content: space-between;
    background-color: yellowgreen;
    border-radius:30px;
    font-size: 30px;
    border: 3px solid black;
    font-weight: bold;
    /* text-decoration: underline; */
  }
 .table tbody tr td{
   color:purple;
 }
 .table tbody td{
   text-decoration: none;
 }
